* {
    main-bg:            #282B2EE6;
    main-fg:            #A2A09D;
    main-br:            #887F7B;
    main-ex:            #3C4B51;
    select-bg:          #A2A09D;
    select-fg:          #282B2E;
}
