* {
    main-bg:            #454147E6;
    main-fg:            #C2BBBD;
    main-br:            #A25B5C;
    main-ex:            #948386;
    select-bg:          #C2BBBD;
    select-fg:          #454147;
}
